/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,500,600&display=swap');
/* font-family: 'Archivo Narrow', sans-serif; */

/*======= General style =======*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/*======= Component style =======*/


.account__section__wrapper{
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

/* Account item */
.account__item{
    background-image: linear-gradient( to bottom , rgba(37, 15, 56, 0.9) , rgba(37, 15, 56, 0.9) ), url('../img/account_1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: #ccc; */
    padding: 20px;
    height: 600px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    border-radius: 15px;
    color: #eee;
    /* position: absolute; */
    /* transform: rotate3d(1,1,1,-85deg); */
}

/* Account header */
.account__header{
    font-size: 1.4rem;
    padding: 10px;
    position: relative;
}
.account__header .back{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* Account image */.account__image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.account__image img{
    object-fit: cover;
    object-position: center;
}

/* Account register info */
.account__info{
    display: flex;
    margin-bottom: 20px;
    position: relative;
}
.account__info .info__icon{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 10px;
}
.account__info .info__input{
    flex-grow: 1;
    text-align: left;
}
.account__info::before,
.account__info::after{
    content: '';
    position: absolute;
    width: 50%;
    top: 100%;
    height: 1px;
}
.account__info::before{
    left: 0;
    background-image: linear-gradient( to right, rgba(255,255,255,0), rgba(255,255,255,1) );
}
.account__info::after{
    left: 50%;
    background-image: linear-gradient( to right, rgba(255,255,255,1), rgba(255,255,255,0) );
}
.account__info .info__input label{
    text-transform: uppercase;
    font-size: 0.7rem;
}
.account__info .info__input input{
    border: none;
    background: transparent;
    padding: 5px;
    margin: 5px 0 5px;
    color: white;
}


.register__btn{
    background: red;
    padding: 12px 50px;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    font-size: 1.1rem;
    cursor: pointer;
}
.register__btn:hover{
    opacity: 0.7;
}

/* Account member login */
.account__login .login__question{
    margin-bottom: 10px;
}
.account__login .login__link{
    color: #4c66ac;
    text-decoration: none;
}
.account__login .login__link:hover{
    /* color: #4c66ac; */
    opacity: 0.7;
}